.rec {
	background-color: #8fa5e9;
	max-width: 80%;
}
.sen {
	background-color: #ffffff;
	max-width: 80%;
}

.message-container {
  position: relative;
}

.delete-icon {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.message-container:hover .delete-icon {
  display: block;
}
